<ion-header>
  <ion-toolbar>
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Plugin Cámara</ion-card-title>
      <ion-card-subtitle>Animación + Foto</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="tomarFoto()">
        Tomar foto
      </ion-button>

      <ion-button expand="block" color="medium" (click)="limpiarFoto()" [disabled]="!fotoBase64">
        Limpiar foto
      </ion-button>

      <div *ngIf="fotoBase64" style="margin-top: 16px;" @zoomFade>
        <ion-img [src]="fotoBase64"></ion-img>
      </div>

      <ion-text color="medium" *ngIf="!fotoBase64">
        <p>No hay foto cargada.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
